#frame {
    border: 3px solid black;
    border-radius: 20px;
    width: 420px;
    height: 910px;
    align-content: center;
    position: absolute;
    margin-left: 60px;
    padding: 0;
}

#screen {
    border: 3px solid black;
    width: 400px;
    height: 890px;
    position: relative;
    margin-top: 6px;
    margin-left: 6px;

}

#screen h1 {
    margin-left: 10px;

}

.nav {
    margin-top: 43px;
    margin-inline-start: 40px;
    margin-inline-end: 20px;
    display: inline;
    position: relative;
    float: left;
    bottom: 24px;
   
}

#navbar {
    
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
}

#logo{
    position: absolute;
    border: 2px solid black;
    margin-left: 20px;
}

#setting{
    float: right;
    margin-right: 20px;
}

#tittel{
    position: absolute;
    text-align: center;
    border-bottom: 2px solid black;
    text-align:center;
    width: 70%;
    height:15%;
    margin-left: 60px;
}

#tittel h1{
    padding-top: 60px;
        
    
}

#innhold{
    background-color: grey;
    width: 100%;
    height:5px;;
    margin-top:150px;
    padding-bottom:680px;
    overflow-y: scroll;

}


#innhold::-webkit-scrollbar{
    width:10px;
}

#innhold::-webkit-scrollbar-track {
    border-radius:10px;
    background-color: white;
}

#innhold::-webkit-scrollbar-thumb {
    border-radius:30px;
    background-color: rgb(194, 191, 191);
}

#innhold::-webkit-scrollbar-thumb:hover {
    background-color:rgb(173, 217, 245);
}